body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

#todo-input{
    border: 2px solid black;
    padding: 10px;
}

#todo-input, #add-todo {
    margin-bottom: 10px;
}

#todo-list {
    padding: 0;
}

input[type='checkbox'] {
    border-radius: 50%;
}

.todo-item {
    background-color: #fff;
    margin-bottom: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

button{
    border: 5px solid rgb(213, 189, 189);
    border-style: outset;
    background-color: rgb(213, 189, 189);
    color: white;
    padding: 8px;
}
button:active {
    border-style: inset;
  }

.todo-item > button {
    background-color: #fff;
    border: 0px;
    color: black;
}
